@media  screen and (min-width: 2560px){
	.navbar-brand{
		left: 45%;
	}
}
@media  screen and (max-width: 2560px){
	
	.indicators-vertical{
		left: 0 !important;
	}

	.front img {
		max-width: 100%;
		max-height: 100%;
		margin-top: 7%;
	}

}
@media only screen and (max-width: 991px) and (min-width: 768px){


	.navbar-header {
		float: none;
	}
	.navbar-left,.navbar-right {
		float: none !important;
	}
	.navbar-brand{
		margin-top: 5px !important;
		left: 35%;
	}
	.icon-lg{
		display: none;
	}
	.icon-xs{
		display: block;
	}
	.navbar-toggle {
		display: block;
	}
	.navbar-collapse {
		border-top: 1px solid transparent;
		box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
	}
	.navbar-fixed-top {
		top: 0;
		border-width: 0 0 1px;
	}
	.navbar-collapse.collapse {
		display: none!important;
		height: 100vh !important;
	}
	.navbar-nav {
		float: none!important;
		margin-top: 7.5px;
	}
	.navbar-nav>li {
		float: none;
	}
	.navbar-nav>li>a {
		padding-top: 10px;
		padding-bottom: 10px;
		font-size: 13px;
	}
	.collapse.in{
		display:block !important;
	}

	#header{
		height: 200px;
	}
	#header .icon-bar{
		background: #000 !important;
	}
	.icon-bar{
		background: #000;
	}
	.toggle-left{
		position: fixed;
		left: 10px;
		z-index: 999999;
	}
	.toggle-right{
		position: fixed;
		top: -70px;
		right: 0;
		z-index: 999999;
	}
	.navbar-collapse{
		background: #fff;
		width: 80%;
		height: 100vh !important;
		position: fixed;
		padding-top: 50px;
		top: 0;
		left: 0;
		z-index: 99;
	}
	.nav>li>a{
		padding-left: 15px;
		font-size: 13px;
	}
	.navbar-nav{
		margin-top: 0 !important;
	}
	.nav-link{
		font-size: 10px;
		color: #000;
		text-transform: uppercase;
		letter-spacing: 2px;
		margin-top: 0;
		border-bottom: 1px solid #ddd;
	}
	#navbar-primary{
		width: 100%;
		position: absolute;
		left: 0;
	}
	#navbar-primary .navbar-nav{
		margin-top: 0;
	}
	#navbar-primary .navbar-nav li{
		text-align: left;
		display: block;
		padding-left: 0;
	}
	#navbar-primary .navbar-nav li a{
		padding-left: 15px;
	}


	.desc-product .title-product{
		width: auto;
	}

	.indicators-vertical{
		left: 0 !important;
	}

	footer{
		height: auto;
		overflow: hidden;
	}

	.front img {
		max-width: 100%;
		max-height: 100%;
		margin-top: 3%;
	}
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
	.flex{
		display: block;
	}
	#header{
		height: 200px;
	}
	#header .icon-bar{
		background: #000 !important;
	}
	.icon-bar{
		background: #000;
	}
	.toggle-left{
		position: fixed;
		left: 10px;
		z-index: 999999;
	}
	.toggle-right{
		position: fixed;
		top: -70px;
		right: 0;
		z-index: 999999;
	}
	.navbar-brand{
		margin-top: 10px;
	}
	.navbar-nav{
		margin-top: 0 !important;
	}
	.navbar-collapse{
		background: #fff;
		width: 80%;
		height: 100vh !important;
		position: fixed;
		padding-top: 50px;
		top: 0;
		left: 15px;
		z-index: 99;
	}
	.nav>li>a{
		padding-left: 15px;
		font-size: 13px;
	}
	.nav-link{
		font-size: 10px;
		color: #000;
		text-transform: uppercase;
		letter-spacing: 2px;
		margin-top: 0;
		border-bottom: 1px solid #ddd;
	}
	#navbar-primary{
		width: 100%;
		position: absolute;
		left: 0;
	}
	#navbar-primary .navbar-nav{
		margin-top: 0;
		margin: 0;
	}
	#navbar-primary .navbar-nav li{
		text-align: left;
		display: block;
		padding-left: 0;
	}
	#navbar-primary .navbar-nav li a{
		padding-left: 15px;
	}
	.menu-left{
		margin: auto;
	}
	.menu-left, .menu-right{
		margin: auto;
	}

	.desc-product .title-product{
		width: auto;
	}
	.filter{
		height: auto !important;
	}
	.menu-left, .menu-right {
		margin: auto;
		float: none;
		clear: both;
		display: block;
		text-align: center;
	}
	.menu-filter li{
		padding: 8px;
	}
	select{
		padding-right: 21px !important;
	}


	.indicators-vertical{
		left: 0 !important;
	}

	#new-arrivals .img-container{
		display: flex;
	}
	#new-arrivals .img-container .img-arrivals{
		width: 50%;
	}
	footer{
		height: auto;
		overflow: hidden;
	}

	.navbar-brand{
		position: absolute;
		left: 25%;
	}
	.footer-pagination{
		text-align: center;
	}

	.img-container{
		display: block !important;
		padding: 0px 15px;
	}

	.front img {
		max-width: 100%;
		max-height: 100%;
		margin-top: 17%;
	}

}



@media only screen and (min-width: 320px) and (max-width: 767px) {
	input{
		width: 100% !important
	}
	.flex{
		display: block;
	}
	.w-50{
		width: 100%;
	}
	.content{
		padding-right: 0px;
	}
	.side-bar{
		margin-top: 50px;
	}
	.side-bar .flex{
		display: flex;
	}
	.dropdown-menu{
		min-width: 100% !important;
		right: 0 !important;
	}
	.box-sm{
		width: 100%;
		margin-bottom: 0;
		border-right: 0;
		border-bottom: 1px solid #fff;
	}
	.box-lg{
		border-right: 0;
		border-bottom: 1px solid #fff;
	}
	.navbar-nav{
		margin-left: 0;
		margin-right: 0;
	}
	.navbar-brand{
		left: 22%;
	}
	.navbar-brand img{
		max-width: 75%;
		max-height: 100%;
		margin: auto;
	}
	.navbar-nav{
		margin-top: 0 !important;
	}
	#header{
		height: 200px;
	}
	#new-arrivals .img-container{
		display: block;
	}
	#new-arrivals .img-container .img-arrivals{
		width: 100%;
	}
	footer{
		height: auto;
		overflow: hidden;
	}

	.front img {
		max-width: 100%;
		max-height: 100%;
		margin-top: 17%;
	}


	#sign-in-section .right-section{
		padding: 0;
	}
	#search input[type="search"]{
		padding-bottom: 20px;
		width: 90% !important;
		margin: auto;
		font-size: 15px;
		left: 20px;
	}
}

@media screen and (min-width: 425px) and (max-width: 425px){
	.navbar-brand {
		left: 21%;
	}
}
@media screen and (min-width: 568px) and (max-width: 568px){
	.navbar-brand{
		left: 27% !important;
	}
}
@media screen and (min-width: 768px) and (max-width: 768px){
	.flex{
		display: block;
	}
	.navbar-brand{
		left: 33% ;
	}
	#blog .img-container {
		grid-template-rows: repeat(7, 9vw);
	}
}

@media screen and (min-width: 320px) and (max-width: 320px){
	.navbar-brand {
		left: 10% !important;
	}
}
@media screen and (min-width: 375px) and (max-width: 375px){
	.navbar-brand {
		left: 18% !important;
	}
}
@media screen and (min-width: 600px) and (max-width: 600px){
	.navbar-brand {
		left: 29% !important;
	}
}
@media screen and (min-width: 667px) and (max-width: 667px){
	.navbar-brand{
		left: 32%;
	}
}
@media screen and (min-width: 736px) and (max-width: 736px){
	.navbar-brand{
		left: 32%;
	}
}
@media screen and (min-width: 1024px) and (max-width: 1024px){
	.navbar-brand{
		margin-top: 15px;
		left: 38%;
	}
	.navbar-brand img{
		max-width: 60%;
		margin-top: 13px;
		text-align: center;
		margin: auto;
		margin-top: 8px;
	}

	#blog .img-container {
		grid-template-rows: repeat(7, 7.7vw);
	}
	.front img {
		max-width: 100%;
		max-height: 100%;
		margin-top: 42%;
	}
}
@media screen and (min-width: 1153px) and (max-width: 1153px){
	.front img {
		margin-top: 30%;
	}
}
@media screen and (min-width: 1152px) and (max-width: 1152px){
	.front img {
		margin-top: 26%;
	}
}
@media screen and (min-width: 1280px) and (max-width: 1280px){
	.front img {
		margin-top: 26%;
	}
}
@media screen and (min-width: 1336px) and (max-width: 1336px){
	.front img {
		margin-top: 21%;
	}
}
@media screen and (min-width: 1920px) and (max-width: 1920px){
	.navbar-brand{
		margin-top: 15px;
		left: 44%;
	}
}

@media only screen and (min-width: 576px) and (max-width: 767px) {

}
