
.carousel.vertical .carousel-inner {
	height: 100%;
	width: auto;
}
.carousel.vertical .carousel-inner .item {
	width: auto;
	-webkit-transition: 0.6s ease-in-out top;
	transition: 0.6s ease-in-out top;
}
@media all and (transform-3d), (-webkit-transform-3d) {
	.carousel.vertical .carousel-inner .item {
		-webkit-transition: 0.6s ease-in-out;
		transition: 0.6s ease-in-out;
	}
	.carousel.vertical .carousel-inner .item.next, .carousel.vertical .carousel-inner .item.active.right {
		-webkit-transform: translate3d(0, 100%, 0);
		transform: translate3d(0, 100%, 0);
		top: 0;
	}
	.carousel.vertical .carousel-inner .item.prev, .carousel.vertical .carousel-inner .item.active.left {
		-webkit-transform: translate3d(0, -100%, 0);
		transform: translate3d(0, -100%, 0);
		top: 0;
	}
	.carousel.vertical .carousel-inner .item.next.left, .carousel.vertical .carousel-inner .item.prev.right, .carousel.vertical .carousel-inner .item.active {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
		top: 0;
	}
}
.carousel.vertical .carousel-inner .active,
.carousel.vertical .carousel-inner .next,
.carousel.vertical .carousel-inner .prev {
	display: block;
}
.carousel.vertical .carousel-inner .active {
	top: 0;
}
.carousel.vertical .carousel-inner .next,
.carousel.vertical .carousel-inner .prev {
	position: absolute;
	top: 0;
	width: 100%;
}
.carousel.vertical .carousel-inner .next {
	top: 100%;
}
.carousel.vertical .carousel-inner .prev {
	top: -100%;
}
.carousel.vertical .carousel-inner .next.left,
.carousel.vertical .carousel-inner .prev.right {
	top: 0;
}
.carousel.vertical .carousel-inner .active.left {
	top: -100%;
}
.carousel.vertical .carousel-inner .active.right {
	top: 100%;
}

.carousel.vertical .carousel-control {
	left: auto;
	width: 50px;
}
.carousel.vertical .carousel-control.up {
	top: 0;
	right: 0;
	bottom: 50%;
}
.carousel.vertical .carousel-control.down {
	top: 50%;
	right: 0;
	bottom: 0;
}
.carousel.vertical .carousel-control .icon-prev,
.carousel.vertical .carousel-control .icon-next,
.carousel.vertical .carousel-control .glyphicon-chevron-up,
.carousel.vertical .carousel-control .glyphicon-chevron-down {
	position: absolute;
	top: 50%;
	z-index: 5;
	display: inline-block;
}
.carousel.vertical .carousel-control .icon-prev,
.carousel.vertical .carousel-control .glyphicon-chevron-up {
	left: 50%;
	margin-left: -10px;
	top: 50%;
	margin-top: -10px;
}
.carousel.vertical .carousel-control .icon-next,
.carousel.vertical .carousel-control .glyphicon-chevron-down {
	left: 50%;
	margin-left: -10px;
	top: 50%;
	margin-top: -10px;
}
.carousel.vertical .carousel-control .icon-up,
.carousel.vertical .carousel-control .icon-down {
	width: 20px;
	height: 20px;
	line-height: 1;
	font-family: serif;
}
.carousel.vertical .carousel-control .icon-prev:before {
	content: '\2039';
}
.carousel.vertical .carousel-control .icon-next:before {
	content: '\203a';
}

.indicators-vertical{
	height: 100px;
	position: absolute;
	top: 39%;
	left: -15%;
	z-index: 99999;
}
.carousel-indicators .active{
	background: #999;
	border:none;
}
.carousel-indicators li{
	background: #fff;
	border:none;
}
.carousel-indicators{
	left: 2%;
	margin-left: 0;
}
.carousel-indicators li{
	display: list-item;
	margin:10px 0px;
}



.csslider {
	-moz-perspective: 1300px;
	-ms-perspective: 1300px;
	-webkit-perspective: 1300px;
	perspective: 1300px;
	display: inline-block;
	text-align: left;
	position: relative;
	margin-bottom: 22px;
}
.csslider > input {
	display: none;
}
.csslider > input:nth-of-type(10):checked ~ ul li:first-of-type {
	margin-left: -900%;
}
.csslider > input:nth-of-type(9):checked ~ ul li:first-of-type {
	margin-left: -800%;
}
.csslider > input:nth-of-type(8):checked ~ ul li:first-of-type {
	margin-left: -700%;
}
.csslider > input:nth-of-type(7):checked ~ ul li:first-of-type {
	margin-left: -600%;
}
.csslider > input:nth-of-type(6):checked ~ ul li:first-of-type {
	margin-left: -500%;
}
.csslider > input:nth-of-type(5):checked ~ ul li:first-of-type {
	margin-left: -400%;
}
.csslider > input:nth-of-type(4):checked ~ ul li:first-of-type {
	margin-left: -300%;
}
.csslider > input:nth-of-type(3):checked ~ ul li:first-of-type {
	margin-left: -200%;
}
.csslider > input:nth-of-type(2):checked ~ ul li:first-of-type {
	margin-left: -100%;
}
.csslider > input:nth-of-type(1):checked ~ ul li:first-of-type {
	margin-left: 0%;
}
.csslider > ul {
	position: relative;
	width: 100%;
	height: auto;
	text-align: center;
	margin: auto;
	z-index: 1;
	font-size: 0;
	line-height: 0;
	background-color: transparent;
	margin: 0 auto;
	padding: 0;
	overflow: hidden;
	white-space: nowrap;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.csslider > ul > li {
	position: relative;
	display: inline-block;
	width: 100%;
	height: 100%;
	overflow: hidden;
	font-size: 15px;
	font-size: initial;
	line-height: normal;
	-moz-transition: all 0.5s cubic-bezier(0.4, 1.3, 0.65, 1);
	-o-transition: all 0.5s ease-out;
	-webkit-transition: all 0.5s cubic-bezier(0.4, 1.3, 0.65, 1);
	transition: all 0.5s cubic-bezier(0.4, 1.3, 0.65, 1);
	vertical-align: top;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	white-space: normal;
}
.csslider > ul > li > img{
	max-width: 100%;
	max-height: 100%;
	text-align: center;
	margin: auto;
}
.csslider > ul > li.scrollable {
	overflow-y: scroll;
}
.csslider > .navigation {
	position: absolute;
	bottom: -8px;
	left: 50%;
	z-index: 10;
	margin-bottom: -10px;
	font-size: 0;
	line-height: 0;
	text-align: center;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.csslider > .navigation > div {
	margin-left: -100%;
}
.csslider > .navigation label {
	position: relative;
	display: none;
	cursor: pointer;
	border-radius: 50%;
	margin: 0 4px;
	padding: 4px;
	background: #3A3A3A;
}
.csslider > .navigation label:hover:after {
	opacity: 1;
}
.csslider > .navigation label:after {
	content: '';
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -6px;
	margin-top: -6px;
	background: #71ad37;
	border-radius: 50%;
	padding: 6px;
	opacity: 0;
}
.csslider > .arrows {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.csslider.inside .navigation {
	bottom: 10px;
	margin-bottom: 10px;
}
.csslider.inside .navigation label {
	border: 1px solid #7e7e7e;
}
.csslider > input:nth-of-type(1):checked ~ .navigation label:nth-of-type(1):after,
.csslider > input:nth-of-type(2):checked ~ .navigation label:nth-of-type(2):after,
.csslider > input:nth-of-type(3):checked ~ .navigation label:nth-of-type(3):after,
.csslider > input:nth-of-type(4):checked ~ .navigation label:nth-of-type(4):after,
.csslider > input:nth-of-type(5):checked ~ .navigation label:nth-of-type(5):after,
.csslider > input:nth-of-type(6):checked ~ .navigation label:nth-of-type(6):after,
.csslider > input:nth-of-type(7):checked ~ .navigation label:nth-of-type(7):after,
.csslider > input:nth-of-type(8):checked ~ .navigation label:nth-of-type(8):after,
.csslider > input:nth-of-type(9):checked ~ .navigation label:nth-of-type(9):after,
.csslider > input:nth-of-type(10):checked ~ .navigation label:nth-of-type(10):after,
.csslider > input:nth-of-type(11):checked ~ .navigation label:nth-of-type(11):after {
	opacity: 1;
}
.csslider > .arrows {
	position: absolute;
	top: 50%;
	width: 100%;
	height: 26px;
	z-index: 999;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
}
.csslider > .arrows label {
	display: none;
	position: absolute;
	top: -50%;
	padding: 5px;
	box-shadow: inset 2px -2px 0 1px #3A3A3A;
	cursor: pointer;
	-moz-transition: box-shadow 0.15s, margin 0.15s;
	-o-transition: box-shadow 0.15s, margin 0.15s;
	-webkit-transition: box-shadow 0.15s, margin 0.15s;
	transition: box-shadow 0.15s, margin 0.15s;
}
.csslider > .arrows label:hover {
	margin: 0 0px;
}
.csslider > .arrows label:before {
	content: '';
	position: absolute;
	top: -100%;
	left: -100%;
	height: 300%;
	width: 300%;
}
.csslider.infinity > input:first-of-type:checked ~ .arrows label.goto-last,
.csslider > input:nth-of-type(1):checked ~ .arrows > label:nth-of-type(0),
.csslider > input:nth-of-type(2):checked ~ .arrows > label:nth-of-type(1),
.csslider > input:nth-of-type(3):checked ~ .arrows > label:nth-of-type(2),
.csslider > input:nth-of-type(4):checked ~ .arrows > label:nth-of-type(3),
.csslider > input:nth-of-type(5):checked ~ .arrows > label:nth-of-type(4),
.csslider > input:nth-of-type(6):checked ~ .arrows > label:nth-of-type(5),
.csslider > input:nth-of-type(7):checked ~ .arrows > label:nth-of-type(6),
.csslider > input:nth-of-type(8):checked ~ .arrows > label:nth-of-type(7),
.csslider > input:nth-of-type(9):checked ~ .arrows > label:nth-of-type(8),
.csslider > input:nth-of-type(10):checked ~ .arrows > label:nth-of-type(9),
.csslider > input:nth-of-type(11):checked ~ .arrows > label:nth-of-type(10) {
	display: block;
	left: 3%;
	right: auto;
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}
.csslider.infinity > input:last-of-type:checked ~ .arrows label.goto-first,
.csslider > input:nth-of-type(1):checked ~ .arrows > label:nth-of-type(2),
.csslider > input:nth-of-type(2):checked ~ .arrows > label:nth-of-type(3),
.csslider > input:nth-of-type(3):checked ~ .arrows > label:nth-of-type(4),
.csslider > input:nth-of-type(4):checked ~ .arrows > label:nth-of-type(5),
.csslider > input:nth-of-type(5):checked ~ .arrows > label:nth-of-type(6),
.csslider > input:nth-of-type(6):checked ~ .arrows > label:nth-of-type(7),
.csslider > input:nth-of-type(7):checked ~ .arrows > label:nth-of-type(8),
.csslider > input:nth-of-type(8):checked ~ .arrows > label:nth-of-type(9),
.csslider > input:nth-of-type(9):checked ~ .arrows > label:nth-of-type(10),
.csslider > input:nth-of-type(10):checked ~ .arrows > label:nth-of-type(11),
.csslider > input:nth-of-type(11):checked ~ .arrows > label:nth-of-type(12) {
	display: block;
	right: 5%;
	left: auto;
	-moz-transform: rotate(225deg);
	-ms-transform: rotate(225deg);
	-o-transform: rotate(225deg);
	-webkit-transform: rotate(225deg);
	transform: rotate(225deg);
}

/*
::-webkit-scrollbar {
  width: 2px;
  background: rgba(255, 255, 255, 0.1);
}
::-webkit-scrollbar-track {
  background: none;
}
::-webkit-scrollbar-thumb {
  background: rgba(74, 168, 0, 0.6);
  }*/
  ul,
  ol {
  	padding-left: 40px;
  }

  #slider1 {
  	width: 100%;
  	font-family: 'Futura';
  }
  #slider1 > ul > li:nth-of-type(3) {

  }
  #slider1 > input:nth-of-type(3):checked ~ ul #bg {
  	width: 80%;
  	padding: 22px;
  	-moz-transition: .5s .5s;
  	-o-transition: .5s .5s;
  	-webkit-transition: .5s .5s;
  	transition: .5s .5s;
  }
  #slider1 > input:nth-of-type(3):checked ~ ul #bg div {
  	-moz-transform: translate(0);
  	-ms-transform: translate(0);
  	-o-transform: translate(0);
  	-webkit-transform: translate(0);
  	transform: translate(0);
  	-moz-transition: .5s .9s;
  	-o-transition: .5s .9s;
  	-webkit-transition: .5s .9s;
  	transition: .5s .9s;
  }
  #slider1 > input:nth-of-type(6):checked ~ ul #dex-sign {
  	-moz-animation: sign-anim 3.5s 0.5s steps(85) forwards;
  	-o-animation: sign-anim 3.5s 0.5s steps(85) forwards;
  	-webkit-animation: sign-anim 3.5s 0.5s steps(85) forwards;
  	animation: sign-anim 3.5s 0.5s steps(85) forwards;
  }
  #bg {
  	color: transparent;
  	padding: 22px 0;
  	position: absolute;
  	left: 0;
  	top: 16%;
  	height: 20%;
  	width: 0;
  	z-index: 10;
  	overflow: hidden;
  }
  #bg:before {
  	content: '';
  	position: absolute;
  	left: -1px;
  	top: 1px;
  	height: 100%;
  	width: 100%;
  	z-index: -1;
  	-webkit-filter: blur(7px);
  }
  #bg:after {
  	content: '';
  	position: absolute;
  	left: 0;
  	top: 0;
  	height: 100%;
  	width: 100%;
  	z-index: 20;
  	background: rgba(0, 0, 0, 0.35);
  	pointer-events: none;
  }
  #bg div {
  	-moz-transform: translate(120%);
  	-ms-transform: translate(120%);
  	-o-transform: translate(120%);
  	-webkit-transform: translate(120%);
  	transform: translate(120%);
  }
  .scrollable p {
  	padding: 30px;
  	text-align: justify;
  	line-height: 140%;
  	font-size: 120%;
  }
  #center {
  	text-align: center;
  	margin-top: 25%;
  }
  #center a {
  	text-decoration: none;
  	text-transform: uppercase;
  	letter-spacing: 2px;
  	font-variant: small-caps;
  }
  /*___________________________________ LINK ___________________________________ */
  a.nice-link {
  	position: relative;
  	color: #71ad37;
  }
  h1 a.nice-link:after {
  	border-bottom: 1px solid #a5ff0e;
  }
  a.nice-link:after {
  	text-align: justify;
  	display: inline-block;
  	content: attr(data-text);
  	position: absolute;
  	left: 0;
  	top: 0;
  	white-space: nowrap;
  	overflow: hidden;
  	color: #a5ff0e;
  	min-height: 100%;
  	width: 0;
  	max-width: 100%;
  	background: #3A3A3A;
  	-moz-transition: .3s;
  	-o-transition: .3s;
  	-webkit-transition: .3s;
  	transition: .3s;
  }
  a.nice-link:hover {
  	color: #71ad37;
  }
  a.nice-link:hover:after {
  	width: 100%;
  }
  /*___________________________________ SIGN ___________________________________ */
  #dex-sign {
  	width: 255px;
  	height: 84px;
  	position: absolute;
  	left: 33%;
  	top: 45%;
  	opacity: .7;
  }
  #dex-sign:hover {
  	opacity: 1;
  	-webkit-filter: invert(30%) brightness(80%) sepia(100%) contrast(110%) saturate(953%) hue-rotate(45deg);
  }
  @-webkit-keyframes sign-anim {
  	to {
  		background-position: 0 -7140px;
  	}
  }
  @-moz-keyframes sign-anim {
  	to {
  		background-position: 0 -7140px;
  	}
  }
  @keyframes sign-anim {
  	to {
  		background-position: 0 -7140px;
  	}
  }
