
@font-face {
	font-family: Futura;
	src: url(../fonts/Futura.ttf);
}
@font-face {
	font-family: Pangram-Light;
	src: url(../fonts/Pangram-Light.otf);
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	color: #fff;
}
::-moz-placeholder { /* Firefox 19+ */
	color: #fff;
}
:-ms-input-placeholder { /* IE 10+ */
	color: #fff;
}
:-moz-placeholder { /* Firefox 18- */
	color: #fff;
}

*{
	font-family: 'Futura',sans-serif;
	letter-spacing: 1px;
}
*:focus {
	outline: none;
}
a{
	color: #666;
}
ul,ol{
	margin-bottom: 0;
	padding-left: 0;
}


.flex{
	display: flex;
}
.w-10{
	width: 10%;
}
.w-20{
	width: 20%;
}
.w-30{
	width: 30%;
}
.w-40{
	width: 40%;
}
.w-50{
	width: 50%;
}
.w-60{
	width: 60%;
}
.w-70{
	width: 70%;
}
.w-80{
	width: 80%;
}
.w-90{
	width: 90%;
}


#header{
	width: 100%;
	height: 100vh;
	background: url(../img/bg.png);
	background-size: 100% 100%;
	background-size: cover;
}
.nav-link{
	font-size: 10px;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 2px;
}
.nav-link:hover{
	color: #444;
}


.nav-link img{
	margin: 0px 10px;
	max-width: 100%;
	max-height: 100%;
}
.icon-xs{
	display: none;
}
.nav>li>a {
	position: relative;
	display: block;
	padding: 10px 5px;
}

header .nav>li>a {
	color: #999;
}

/*BURGER MENU*/	
.hamburger {
	cursor: pointer;
	display: block;
	height: 14px;
	position: relative;
	width: 24px;
	margin: 0 auto;
}
.hamburger-line {
	background-color: #fff;
	border-radius: 2px;
	display: block;
	height: 2px;
	position: absolute;
	transition: all 240ms linear;
	width: 100%;
}
.hamburger-line-black {
	background-color: #333;
	border-radius: 2px;
	display: block;
	height: 2px;
	position: absolute;
	transition: all 240ms linear;
	width: 100%;
}
.hamburger-line--top {
	top: 0%;
}
.hamburger-line--middle {
	top: 50%;
}
.hamburger-line--bottom {
	top: 100%;
}
.hamburger:hover .hamburger-line--top {
	transform: translateY(-2px);
}
.hamburger:hover .hamburger-line--bottom {
	transform: translateY(2px);
}

.toggle {
	display: none;
}

.toggle:checked + .hamburger .hamburger-line--top {
	transform: translateY(14px) translateX(0px) rotate(225deg);
	background: #333;
}
.toggle:checked + .hamburger .hamburger-line--middle {
	opacity: 0;
	background: #333;
}
.toggle:checked + .hamburger .hamburger-line--bottom {
	transform: translateY(0px) translateX(0px) rotate(-225deg);
	background: #333;
}

.nav>li>a:hover {
	background: transparent;
}
.navbar-nav{
	margin-top: 15px;
}
#header .navbar{
	margin-bottom: 0px;
	border-radius: 0;
	border-bottom: 0;
}
.navbar{
	margin-bottom: 0px;
	border-radius: 0;
	border-bottom: 1px solid #666;
}
.navbar-nav{
	margin-left: 0;
}
.navbar-collapse{
	padding-left: 0;
	padding-right: 0;
}
.navbar-toggle{
	margin-top: 4px;
}
.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand{
	margin-left: 0;
}
.navbar-brand{
	position: absolute;
	left: 41%;
	padding: 0;
	margin-top: 13px;
}
.navbar-brand img{
	max-width: none;
}

/* Navbar center */
#navbar-primary .navbar-nav { 
	width: 100%;
	text-align: center;
	margin-top: 30px;
	margin-bottom: 10px;
}
#navbar-primary .navbar-nav li {
	display: inline-block;
	float: none;
}
#navbar-primary .navbar-nav li a {
	padding-left: 30px;
	padding-right: 30px;
	font-size: 13px;
}
#navbar-primary .navbar-nav li a:hover {
	background: transparent;
}



#new-arrivals{
	width: 100%;
	height: auto;
	background: #fff;
	padding: 50px 0px;
}
.title{
	color: #7f7f7f;
	font-size: 32px;
	font-family: 'Futura';
	font-weight: ;
	padding-bottom: ;
	text-align: center;
	margin: 15px 0px 10px 0px;
}
.subtitle{
	font-size: 13px;
	font-family: 'Futura';
	font-weight: ;
	padding-bottom: ;
	text-align: center;
	margin-bottom: 0;
}
.img-container{
	width: 100%;
	display: flex;
	margin-top: 95px;
}
.img-arrivals{
	width: 50%;
	max-width: 100%;
	max-height: 100%;
}
.img-arrivals img{
	width: 100%;
	height: 100%;
	max-width: 100%;
	max-height: 100%;
}
.no-padding{
	padding: 0 !important;
}

#detail{
	width: 100%;
	height: auto;
	background: #fff;
	border-bottom:1px solid
}

#stori{
	width: 100%;
	height: auto;
	background: #fff;
	padding: 50px 0px;
}
#stori .img-container {
	width: 100%;
	height: auto;
	display: block;
}
.product{
	height: ;
}
.img-stori{
	max-width: 100%;
	max-height: 100%;
}
.img-stori img{
	width: 100%;
	max-width: 100%;
	max-height: 100%;
}
.img-container .desc{
	width: 100%;
	height: auto;
	margin-top: 20px;
}
.img-container .desc p{
	margin-bottom: 0;
	color: #666666;
	font-size: 16px;
}
.line{
	width: 12px;
	height: 1px;
	margin: 10px 0px;
	background: #666;
}
.img-container .detail{
	width: 100%;
	height: auto;
	margin-bottom: 40px;
}
.img-container .detail p{
	margin-bottom: 0;
	color: #000;
	font-weight:bold;
	font-size: 12px;
}




footer{
	width: 100%;
	overflow: hidden;
	background: #c4c4c4;
	padding: 50px 0px;
}
footer ul{
	margin-bottom: 20px;
}
footer ul li{
	display: block;
	margin-bottom: 10px;
}
footer ul li a{
	color: #fff;
	font-size: 13px;
	font-family: 'Pangram-Light';
}
footer .desc-footer{
	margin-bottom: 20px;
	font-family: 'Pangram-Light';
}
footer p{
	font-size: 13px;
	color: #fff;
	margin-bottom: 0;
	line-height: 2em;
	font-family: 'Pangram-Light';
}

footer input{
	background: transparent;
	border:1px solid #fff;
	color: #fff;
	height: 45px;
	padding: 0px 10px;
	font-size: 12px;
	font-family: 'Pangram-Light';
}
footer input.subscribe{
	width: 270px;
	color: #fff;
	margin: 10px 0px;
}
footer button.submit{
	margin: 10px 0px;
	background: transparent;
	position: absolute;
	margin-left: -40px;
	margin-top: 23px;
	border:0px;
	font-family: 'Pangram-Light';
}

.filter{
	height: 42px;
	border-bottom: 1px solid #666;
}

.menu-filter li{
	display: inline-block;
	padding: 8px 20px;
}
.menu-filter li.divider{
	display: inline-block;
	padding: 0px;
	width: 1px;
	height: 13px;
	background: #999;
	position: relative;
	top: 4px;
}
.menu-filter li a{
	font-size: 10px;
	color: #999;
}
.menu-left{
	float: left;
}
.menu-right{
	float: right;
}


select{
	width: auto;
	padding-right: 30px;
	font-size: 10px;
	line-height: 1;
	letter-spacing: 1px;
	color: #999;
	cursor: pointer;
	border: 0;
	background: url(../img/chev-bottom.png) no-repeat right transparent;
	-webkit-appearance: none;
}



#product{
	width: 100%;
	height: auto;
	overflow: hidden;
	position: relative;
}
#related-product{
	width: 100%;
	height: auto;
	overflow: hidden;
	padding-top: 50px;
}
.box{
	width: 100%;
	margin-top: 50px;
}
.img-product{
	width: 100%;
	max-height: 100%;
	background: #e6e6e6;
	height: 402.151px;
	border-right: 1px solid #fff;
	padding: 50px 20px;
	text-align: center;
}
.img-product img{
	max-width: 100%;
	max-height: 100%;
	padding: 20px;
}



.icon-fav{
	position: absolute;
	z-index: 999999;
	left: 40px;
	top: 40px;
}

.product-container{
	width: 100%;
	height: auto;
}
.result{
	padding-top: 35px;
	font-size: 13px;
	color: #666;
}
span.bold{
	font-weight: bold;
	color: #333;
	font-size: 15px;
	font-weight: 700;
}
/** pagination **/
.footer-pagination{
	margin-top: 30px;
	width: 100%;
	height: auto;
	overflow: hidden;
	position: relative;
}
.pagination li a{
	padding: 10px 10px;
	text-align: center;
	border:none;
	border-radius: 100px !important;
	color: #666;
}
.pagination li a:hover{
	border-radius: 100px;
	background-color: #f2f2f2;
	width: 40px;
	height: 40px;
	border-radius: 100% !important;
	text-align: center;
	font-size: 15px;
	font-weight: 700;
	color: #666;
}
.pagination > .active > a{
	z-index: 3;
	color: #666;
	cursor: pointer;
	background-color: #f2f2f2;
	width: 40px;
	height: 40px;
	border-radius: 100% !important;
	text-align: center;
	font-size: 15px;
	font-weight: 700;
	padding: 10px;
	margin: 0px 10px;
}
.pagination > .active > a:hover{
	cursor: pointer;
	background-color: #d0d0d0;
}
.pagination .next{
	font-weight: bold;
	color: #333;
	font-size: 15px;
	font-weight: 700;
}
.pagination .next:hover{
	background: transparent;
}




/* detail product*/
#detail-product{
	width: 100%;
	height: auto;
	overflow: hidden;
	padding: 50px 0px;
	background: #e6e6e6;
}
.desc-product{
	width: 100%;
	height: auto;
	overflow: hidden;
}
.desc-product .title-product{
	width: 400px;
	font-size: 36px;
	line-height: 52px;
	color: #666666;
	margin: 0;
	font-weight: lighter;
}
.desc-product .title-product-2{
	font-size: 24px;
	line-height: 51px;
	margin-bottom: 0;
	color: #666666;
}
.desc-product p{
	color: #000;
	font-size: 15px;
	margin-bottom: 30px;
}
.desc-product ul{
	display: block;
}
.desc-product ul li{
	font-size: 15px;
	line-height: 32px;
	color: #000;
}


.name-product{
	width: 100%;
	height: auto;
	overflow: hidden;
}

.desc-product h3{
	width: 400px;
	font-size: 36px;
	line-height: 52px;
	color: #666666;
	margin: 0;
}
.name-product h3{
	width: 360px;
	font-size: 32px;
	line-height: 52px;
	color: #666666;
}
h4.price{
	margin-top: 50px;
	font-size: 32px;
	color: #666666;
}
.style-code{
	font-size: 15px;
	padding: 20px 0px;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	margin-top: 40px;
	color: #666666;
}
.style-code p{
	margin: 0;
	font-weight: 400;
	color: #666666;
}
p.color{
	line-height: 51px;
	font-size: 15px;
	color: #666666;
	font-weight: 400;
	margin-bottom: 10px;
}


/** panel desc **/
.panel-desc{
	margin-top: 40px;
}
.panel{
	box-shadow: none;
}
.panel-default > .panel-heading{
	background: #e6e6e6;	
	border-radius: 0;
	border:none;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}
.panel-group .panel{
	border-radius: 0;
}
.panel-default{
	border:none;
	border-radius: 0;
}
.accordion-toggle span{
	position: absolute;
	right: 7%;
	font-weight: lighter;
	font-size: 14px;
	line-height: 18px;
}
.panel-group .panel-heading + .panel-collapse > .panel-body, .panel-group .panel-heading + .panel-collapse > .list-group{
	border:none;
}
.panel-body{
	border:none;
	background: #e6e6e6;
}

.custom-radios div {
	display: inline-block;
}
.custom-radios input[type="radio"] {
	display: none;
}
.custom-radios input[type="radio"] + label {
	color: #333;
	font-family: Arial, sans-serif;
	font-size: 14px;
}
.custom-radios input[type="radio"] + label span {
	display: inline-block;
	width: 15px;
	height: 15px;
	margin: -1px 4px 0 0;
	vertical-align: middle;
	cursor: pointer;
	border-radius: 50%;
	background-repeat: no-repeat;
	background-position: center;
	text-align: center;
	line-height: 12px;
}
.custom-radios input[type="radio"] + label span img {
	opacity: 0;
	transition: all .3s ease;
	max-height: 50%;
	max-width: 100%;
}
.custom-radios input[type="radio"]#color-1 + label span {
	background-color: #5ccaff;
}
.custom-radios input[type="radio"]#color-2 + label span {
	background-color: #db8bff;
}
.custom-radios input[type="radio"]#color-3 + label span {
	background-color: #ffab5c;
}
.custom-radios input[type="radio"]#color-4 + label span {
	background-color: #5c0003;
}
.custom-radios input[type="radio"]:checked + label span img {
	opacity: 1;
}


.color1{
	background: #5ccaff;
	padding: 5px 13px;
	border-radius: 100%;
	margin:5px;
}
.color2{
	background: #db8bff;
	padding: 5px 13px;
	border-radius: 100%;
	margin:5px;
}
.color3{
	background: #ffab5c;
	padding: 5px 13px;
	border-radius: 100%;
	margin:5px;
}
.color4{
	background: #5c0003;
	padding: 5px 13px;
	border-radius: 100%;
	margin:5px;
}

.btn-container{
	width: 100%;
	margin: 30px 0px;
}
.btn-cart{
	width: 100%;
	height: 75px;
	background: #fff;
	font-size: 15px;
	line-height: 61px;
	color: #999999;
	border-radius: 0;
}
.btn-order{
	width: 100% !important;
	height: 55px;
	background: #e7e7e7;
	font-size: 15px;
	line-height: 42px !important;
	color: #999999;
	border-radius: 0;
}
.btn-shop{
	background: #666;
	font-size: 15px;
	color: #fff;
	padding: 10px 50px;
	border-radius: 0;
}
.btn-signin{
	width: 270.777px;
	height: 55.97px;
	background: #666;
	font-size: 15px;
	color: #fff;
	padding: 10px 50px;
	border-radius: 0;
	margin: 28px 0px;
}
.btn-signup{
	width: 270.777px;
	height: 55.97px;
	background: #fff;
	font-size: 15px;
	color: #666;
	padding: 10px 50px;
	border:1px solid #333;
	border-radius: 0;
	margin: 28px 0px;
}
.btn-signup:hover{
	background: #666;
	color: #fff;
	transition: 0.3s;
}
.btn-checkout{
	background: #24211e;
	font-size: 15px;
	color: #fff !important;
	padding: 10px 30px !important;
	border-radius: 0;
}
.btn-checkout:hover{
	background: #24211e !important;
	opacity: 0.8;
}
.btn-sign-in{
	background: #666;
	font-size: 15px;
	color: #fff !important;
	padding: 10px 30px !important;
	border-radius: 0;
}
.btn-sign-in:hover{
	background: #24211e !important;
	opacity: 0.8;
}
.btn-sign-up{
	background: transparent;
	font-size: 15px;
	color: #666;
	padding: 10px 30px !important;
	border-radius: 0;
	border:1px solid #666;
}
.create-account:hover{
	background: #666;
	color: #fff !important;
}

.sosial-icon a{
	margin-right: 5px;
}

.carousel-control.left,
.carousel-control.right{
	background: none;
}
.chev{
	position: absolute;
	top: 50%;
	z-index: 5;
	display: inline-block;
	margin-top: -10px;
}


.flip-container {
	-webkit-perspective: 1000;
	-moz-perspective: 1000;
	-o-perspective: 1000;
	perspective: 1000;
}

.flip-container:hover .flipper,  
.flip-container.hover .flipper {
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	-o-transform: rotateY(180deg);
	transform: rotateY(180deg);
}

.flip-container:hover{
	position: relative;
	padding-top: 20px;
	z-index: 999;
	background: #f8f8f8;
	transition-timing-function: ease-out;
	transition: 0.5s;
}

.flip-container, .front, .back {
	width: 100%;
	height: 427px;
	background: #e6e6e6;
	border-right:1px solid #eee;
	border-bottom:1px solid #eee;
}

.flipper {
	-webkit-transition: 0.9s;
	-webkit-transform-style: preserve-3d;

	-moz-transition: 0.9s;
	-moz-transform-style: preserve-3d;

	-o-transition: 0.9s;
	-o-transform-style: preserve-3d;

	transition: 0.9s;
	transform-style: preserve-3d;

	position: relative;
}

.front, .back {
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
}
.front {
	z-index: 2;
	text-align: center;
}
.front img {
	max-width: 100%;
	max-height: 100%;
	margin-top: 15%;
}


.back {
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	-o-transform: rotateY(180deg);
	transform: rotateY(180deg);

	background: #f8f8f8;
}


.back-product {
	position: absolute;
	width: 100%;
	height: 100%;
	text-align: center;
}
.back-product img{
	max-width: 100%;
	max-height: 100%;
	text-align: center;
}

.back h4 {
	position: absolute;
	bottom: 100px;
	left: 0;
	right: 0;
	font-size: 15px;
	text-align: center;
	padding: 0 20px;
	font-family: 'Futura',sans-serif;
	line-height: 2em;
}
.back p {
	position: absolute;
	bottom: 70px;
	left: 0;
	right: 0;
	font-size: 15px;
	font-weight: 700;
	text-align: center;
	padding: 0 20px;
	font-family: 'Futura',sans-serif;
	line-height: 2em;
}
.back span {
	position: absolute;
	bottom: 20px;
	left: 0;
	right: 0;
	text-align: center;
	padding: 0 20px;
	font-family: 'Futura',sans-serif;
	line-height: 2em;
}
.nav li a:focus{
	background: transparent;
	color: #333;
	font-weight: bold;
}
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus{
	background: transparent;
}


/* dropdown before login */
#sign-in .desc-sign{
	display: block;
	font-size: 10px;
}
#sign-in p a{
	display: block;
	font-size: 10px;
}
#sign-in .desc-sign ul li{
	display: block;
	margin-top: 10px;
	font-size: 10px;
}
#sign-in .dropdown-menu{
	position: absolute;    
	top: 54px;
	min-width: 300px;
	border-radius: 0;
	border:1px solid #666;
	background: #fff !important;
	box-shadow: none;
	padding: 10px;
}
#sign-in .dropdown-menu:after{    
	content: '';
	display: block;
	position: absolute;
	top: -11px;
	width: 20px;
	height: 20px;
	background: #FFFFFF;
	border-right: 1px solid #666;
	border-top: 1px solid #666;
	-webkit-transform: rotate(-45deg);
	right: 20px;
}

/* dropdown after login */
#sign-in-menu .dropdown-menu li a.header-checkout{
	text-align: left !important;
	font-size: 15px;
	padding-top: 10px;
	padding-bottom: 10px;
}
#sign-in-menu .dropdown-menu{
	position: absolute;    
	top: 54px;
	min-width: 170.167px;
	border-radius: 0;
	border:1px solid #666;
	background: #fff !important;
	box-shadow: none;
}
#sign-in-menu .dropdown-menu li.divider{
	background: #ccc;
}
#sign-in-menu .dropdown-menu li a img{
	float: right;
	margin-top: 3px;
}
#sign-in-menu .dropdown-menu li a{
	font-size: 13px; 
	padding: 5px 20px;
}
#sign-in-menu .dropdown-menu li a:hover{
	background: transparent;
	font-weight: bold;
	color: #333;
	transition: 0.4s;
}
#sign-in-menu .dropdown-menu:after{    
	content: '';
	display: block;
	position: absolute;
	top: -11px;
	width: 20px;
	height: 20px;
	background: #FFFFFF;
	border-right: 1px solid #666;
	border-top: 1px solid #666;
	-webkit-transform: rotate(-45deg);
	right: 20px;
}


.dropdown-menu{
	position: absolute;    
	right: 15px;
	top: 54px;
	min-width: 300px;
	border-radius: 0;
	border:1px solid #666;
	background: #fff !important;
	box-shadow: none;
}
.dropdown-menu:after{    
	content: '';
	display: block;
	position: absolute;
	top: -11px;
	width: 20px;
	height: 20px;
	background: #FFFFFF;
	border-right: 1px solid #666;
	border-top: 1px solid #666;
	-webkit-transform: rotate(-45deg);
	right: 20px;
}
.dropdown-menu .divider{
	background: #666;
	margin-top: 10px;
}
.header-checkout{
	margin-top: 2px;
	padding: 7px 10px;
	text-align: center;
}
.header-checkout h5{
	font-size: 18px;
	line-height: 30px;
	margin: 0;
	color: #999;
}
.detail-checkout{
	padding: 10px;
	display: flex;
}
.img-checkout{
	width:50%;
	height: auto;
}
.img-checkout img{
	width: 100%;
	max-height: 100%;
}
.desc-checkout{
	width: 50%;
	font-size: 13px;
	line-height: 19px;
	color: #999;
}
.title-desc-checkout{
	width: auto;
	font-size: 13px;
	color: #666;
}
.desc-checkout p{
	margin-bottom: 0;
}

.price-checkout{
	display: flex;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 10px;
	color: #000;
}
.price-checkout p{
	width: 50%;
	font-size: 13px;
	color: #000;
}
.price-checkout h4{
	width: 50%;
	margin: 0;
	font-size: 18px;
	color: #000;
}
.footer-checkout{
	padding: 5px 10px;
}



/* Search Style */ 
#search {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	-webkit-transform: translate(0px, -100%) scale(0, 0);
	-moz-transform: translate(0px, -100%) scale(0, 0);
	-ms-transform: translate(0px, -100%) scale(0, 0);
	-o-transform: translate(0px, -100%) scale(0, 0);
	transform: translate(0px, -100%) scale(0, 0);    
	opacity: 0;
	display: none;
}

#search.open {
	-webkit-transform: translate(0px, 0px) scale(1, 1);
	-moz-transform: translate(0px, 0px) scale(1, 1);
	-ms-transform: translate(0px, 0px) scale(1, 1);
	-o-transform: translate(0px, 0px) scale(1, 1);
	transform: translate(0px, 0px) scale(1, 1); 
	opacity: 1;
	z-index: 106;
	display: block;
}

#search input[type="search"] {
	position: absolute;
	top: 50%;
	left: 0;
	margin-top: -51px;
	width: 60%;
	margin-left: 20%;
	color: rgb(255, 255, 255);
	background: transparent;
	border:0;
	border-bottom: 1px solid rgba(255, 255, 255, .5);
	font-size: 36px;
	font-family: 'Futura';
	text-align: center;
	outline: none;
	padding: 10px;
}

#search .close {
	position: fixed;
	top: 15px;
	right: 15px;
	opacity: 1;
	font-size: 14px;
	color: #fff;
	font-family: 'Futura';
}

#search .close:hover{
	color: #f7f8f9;
	cursor: pointer;
}

.blog{
	width: 100%;
	height: auto;
}


/* BLOG */

#blog{
	width: 100%;
	height: auto;
	background: #fff;
	padding: 50px 0px;
}
#blog .img-container {
	width: 100%;
	height: auto;
	display: grid;
	grid-template-columns: repeat(8, 1fr); 
	grid-template-rows: repeat(7, 6.7vw); 
	grid-gap: 1.5rem;
}
.blog__item--1 {
	grid-row: 1 / span 5;
	grid-column: 1 / span 2;
}
.blog__item--2 {
	grid-row: 1 / span 4;
	grid-column: 3 / span 2;
}
.blog__item--3 {
	grid-row: 1 / span 6;
	grid-column: 5 / span 2;
}
.blog__item--4 {
	grid-row: 1 / span 5;
	grid-column: 7 / -1;
}
.blog__item--5 {
	grid-column: 1 / span 2;
	grid-row: 6 / span 3;
}
.blog__item--6 {
	grid-column: 3 / span 2;
	grid-row: 5 / span 4;
}
.blog__item--7 {
	grid-column: 5 / span 2;
	grid-row: 6 / span 3;
}
.blog__item--8 {
	grid-column: 7 / span 2;
	grid-row: 5 / span 3;
}
.blog__item--9 {
	grid-column: 1 / span 2;
	grid-row: 9 / span 2;
}
.blog__item--10 {
	grid-column: 1;
	grid-row: 6 / span 2;
}
.blog__item--11 {
	grid-column: 2 / span 2;
	grid-row: 6 / span 2;
}
.blog__item--12 {
	grid-column: 4;
	grid-row: 6 / span 2;
}
.img-stori img {
	width: 100%;
	height: 100%;
	display: block;
	object-fit: cover;
}








/******************/
/** SIGN IN PAGE **/
/******************/

#sign-in-section{
	width: 100%;
	height: auto;
	padding: 100px 0px;
}
#sign-in-section h2{  
	font-family : 'Futura';
	font-size : 36px;
	margin-bottom: 32px;
	color : #666666;
	color : rgb(102, 102, 102);
}
#sign-in-section p{  
	margin-bottom: 0;
	font-size: 13px;
	margin-top: 2px;
}
#sign-in-section p a:hover{
	color: #444;
	text-decoration: none;
}

#sign-in-section input{  
	border-style : Solid;
	border-color : #666666;
	border-color : rgba(102, 102, 102, 1);
	border-width : 1px;
	border-radius: 0;
	width: 469.104px;
}

#sign-in-section .black{ 
	color: #333;
}
.black{ 
	color: #333 !important;
}
.grey{ 
	color: #999 !important;
}
.checkbox{
	width: auto;
	margin-top: 22px;
}
.remember{
	width: auto;
	margin-top: 12px;
}
.form-control{
	margin-bottom: 25px;
	border-style : Solid;
	border-color : #666666;
	border-color : rgba(102, 102, 102, 1);
	border-width : 1px;
	border-radius: 0;
	height: 47.262px;
}


.checkbox label {
	padding-left: 0;
}
#sign-in-section input[type="checkbox"] {
	display:none;
}

#sign-in-section input[type="checkbox"] + label {
	color:#666666;
}

#sign-in-section input[type="checkbox"] + label span {
	display:inline-block;
	width:19px;
	height:19px;
	margin:-2px 20px 0 0;
	vertical-align:middle;
	background: #fff;
	border:1px solid #666;
	cursor:pointer;
}

#sign-in-section input[type="checkbox"]:checked + label span {
	background:url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/242518/check-icn.svg) #666 center center no-repeat;
	background-size: 13px;
}

#sign-in-section .right-section{
	width: 100%;
	height: auto;
	padding-left: 100px;
}
#sign-in-section .right-section h2{
	margin-bottom: 15px;
}
#sign-in-section .right-section p{
	margin-bottom: 0;
}
#sign-in-section .right-section ul{
	margin-top: 10px;
}
#sign-in-section .right-section ul li{
	display: block;
	line-height: 31px;
}


/** welcome page **/
#welcome-section{
	width: 100%;
	padding: 55px 0px;
	background: #e8e8e8;
}
#welcome-section h2{
	font-size : 36px;
	line-height : 51px;
	color : #666666;
	color : rgb(102, 102, 102);
	text-align: center;
	margin-bottom: 20px;
}
#welcome-section p{
	font-size : 13px;
	color : #999999;
	color : rgb(153, 153, 153);
	text-align: center;
}
#welcome-section .form-data{
	margin: 55px 0px;
}
#welcome-section .form-data input, .form-data select{
	height: 47px;
}
#welcome-section .form-data button{
	width: 100%;
	position: relative;
	top: -3px;
	height: 47px;
}

/* Thanks section */
#thanks{
	width: 100%;
	height: auto;
	background: #fff;
	padding: 50px 0px;	
}
#thanks .title{
	margin-bottom: 100px;
	line-height: 51px;
}
.box-lg{
	height: 534px;
	border-right: 1px solid #fff;
}
.box-sm{
	height: 251px;
	border-right: 1px solid #fff;
}
.bg-grey{
	background: #e8e8e8 !important;
	margin-bottom: 1px;
}

/* Order section */
#order{
	width: 100%;
	height: auto;
	background: #fff;
	padding: 50px 0px;	
}

#order p {
    font-size: 13px;
    color: #999999;
    color: rgb(153, 153, 153);
    text-align: center;
} 

#saveditems{
	width: 100%;
	height: auto;
	padding-top: 77px;
	padding-bottom: 170px;
}

#saveditems p {
    font-size: 13px;
    color: #999999;
    color: rgb(153, 153, 153);
    text-align: center;
} 

#recommended{
	width: 100%;
	height: auto;
	padding-bottom: 50px;
}
#recommended a{
	color: #7f7f7f;
	text-decoration: none;
}
#recommended a:hover{
	opacity: 0.5;
}

#stats .title-container{
	padding-top: 75px;
}
#stats .box-sm h2{
	position: relative;
	text-align: center;
}
#stats .box-sm a{
	color: #666666;
}
#stats .box-sm a p{
	color: #999999;
}



#recommendations-page{
	width: 100%;
	height: auto;
	padding-top: 77px;
	padding-bottom: 170px;
}
.filter-recommendations{
	position: absolute;
	width: auto;
	left: 30px;
	top: 30%;
}
.filter-recommendations select{
	width: 170px;
	height: 49px;
	font-size: 15px;
	padding-left: 25px;
	text-align: center;
	cursor: pointer;
	background: url(../img/chev-bottom.png) no-repeat right #fff;
	-webkit-appearance: none;
	background-position-x: 154px;
}


#form-setting{
	padding: 50px 0px;
}
#form-setting a.btn{
	width: 270px;
	height: 55px;
	line-height: 35px;
}

#form-setting input[type="checkbox"] {
	display:none;
}
#form-setting input[type="checkbox"] + label {
	color:#666666;
}
#form-setting input[type="checkbox"] + label span {
	display:inline-block;
	width:19px;
	height:19px;
	margin:-2px 20px 0 0;
	vertical-align:middle;
	background: #fff;
	border:1px solid #666;
	cursor:pointer;
}
#form-setting input[type="checkbox"]:checked + label span {
	background:url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/check_radio_sheet.png) -19px top no-repeat;
}



/* SHIPPING SECTION */
#shipping{
	width: 100%;
	height: auto;
	padding: 70px 0px 125px 0px;
}
.content{
	padding-right: 50px;
}
#shipping h1{
	margin-bottom: 10px;
	color: #999;
}
#shipping h5{
	margin-top: 30px;
}
#shipping p{
	text-align: left;
}

#shipping .shipping-address{
	margin-top: 20px;
	border-bottom: 1px solid #999;
	padding-bottom: 30px;
}

#shipping .shipping-address p{
	margin-bottom: 0;
	color: #999;
}

#shipping .checkbox{
	margin-bottom: 0;
	margin-top: 10px;
}
#shipping .remember p{
	margin-bottom: 0;
}

#shipping button.btn{
	margin-top: 40px;
	margin-bottom: 10px;
	width: 270px;
	height: 55px;
	line-height: 35px;
}

#shipping input[type="checkbox"] {
	display:none;
}

#shipping input[type="checkbox"] + label {
	color:#666666;
}

#shipping input[type="checkbox"] + label span {
	display:inline-block;
	width:19px;
	height:19px;
	margin:-2px 20px 0 0;
	vertical-align:middle;
	background: #fff;
	border:1px solid #666;
	cursor:pointer;
}

#shipping input[type="checkbox"]:checked + label span {
	background: red;
	background:url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/242518/check-icn.svg) #666 center center no-repeat;
	background-size: 13px;

}


#shipping input[type="radio"] {
	display:none;
}

#shipping input[type="radio"] + label {
	color:#999999;
	margin-bottom: 40px;
}

#shipping input[type="radio"] + label span {
	display:inline-block;
	width:9px;
	height:9px;
	margin:-2px 10px 0 0;
	vertical-align:middle;
	background: #fff;
	border:2px solid #999999;
	border-radius: 100px;
	cursor:pointer;
}
#shipping input[type="radio"]:checked + label span {
	background: #999;
	padding: 2px;
}


#shipping .footer-shipping{
	width: 100%;
	height: auto;
}

/* gifting */
#shipping .footer-shipping .gifting{
	width: 100%;
	height: auto;
	border-bottom: 1px solid #999;
	padding: 20px 0px;
	margin-bottom: 30px;
}
#shipping .footer-shipping .gifting h1{
	margin-bottom: 10px;
	font-size: 36px;
	color: #999;
}
#shipping .footer-shipping .desc-gifting{
	margin-bottom: 20px;
}
#shipping .footer-shipping .desc-gifting p{
	font-size: 13px;
	color: #999;
	margin-bottom: 0;
}

/* payment */
#shipping .footer-shipping .payment{
	width: 100%;
	height: auto;
	border-bottom: 1px solid #999;
	padding: 20px 0px;
	margin-bottom: 30px;
}
#shipping .footer-shipping .payment h1{
	margin-bottom: 10px;
	font-size: 36px;
	color: #999;
}
#shipping .footer-shipping .desc-payment{
	margin-bottom: 20px;
}
#shipping .footer-shipping .desc-payment p{
	font-size: 13px;
	color: #999;
	margin-bottom: 0;
}



/* SIDE BAR */
.side-bar{
	width: 100%;
	height: auto;
}
.troli{
	width: 100%;
	height: auto;
	padding-bottom: 40px;
	border-bottom: 1px solid #999;
	margin-bottom: 30px;
}
.troli img{
	margin-right: 40px;
}
.troli span{
	position: relative;
	top: 5px;
}

.subtotal{
	width: 100%;
	height: auto;
	padding: 40px 0px;
	border-top: 1px solid #999;
	border-bottom: 1px solid #999;
	margin-top: 30px;
	margin-bottom: 30px;
	color: #999;
}

.side-bar .panel{
	border-bottom: 1px solid #999;
}
.side-bar .panel-desc{
	margin-top: 20px;
}
.side-bar .panel-heading{
	background: #fff;
	border:none;
	padding-bottom: 10px 0px;
	margin: 10px 0px;
}
.side-bar .panel-heading span{
	font-size: 10px;
}
.side-bar .panel-body{
	background: #fff;
	border:none;
}
.side-bar .panel-body p img{
	margin-right: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
	line-height:10px;
}


.register-form{
	width: 576.814px;
	height: 585.12px;
	margin: auto;
	background: #f7f8f9;
	padding: 70px 30px;
	font-size: 13px;
}
.close{
	position: absolute;
	top: 30px;
	right: 50px;
}
.register-form h1{
	margin-bottom: 40px;
}
.register-form button{
	width: 270.777px;
	height: 55.97px;
	line-height: 32px;
	margin-bottom: 10px;
}
.register-form input[type="checkbox"] {
	display:none;
}
.register-form input[type="checkbox"] + label {
	color:#666666;
}
.register-form input[type="checkbox"] + label span {
	display:inline-block;
	width:19px;
	height:19px;
	margin:-2px 20px 0 0;
	vertical-align:middle;
	background: #fff;
	border:1px solid #666;
	cursor:pointer;
}
.register-form input[type="checkbox"]:checked + label span {
	background: red;
	background:url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/242518/check-icn.svg) #666 center center no-repeat;
	background-size: 13px;
}

#forgot-password .register-form{
	height: auto;
}
#forgot-password .modal-dialog{
	margin: 80px auto !important;
}
#forgot-password .register-form .form-control{
	margin-bottom: 0;
}
#forgot-password p{
	margin-bottom: 40px;
}

.img-arrivals {
          overflow: hidden;
        }
	    
.img-arrivals img {
    max-width: 100%;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.9s;
}

.img-arrivals:hover img {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
     transform: scale(1.1);
}
        